body {
	padding-top: 120px;
	text-align:center;
	background-size: 100% ;
	background-repeat: no-repeat;
}

#todoInput {
	margin-top: 1%;
    margin-left: 5%;
}

.input {
    width: 300px;
    height: 30px;
    font-size: 80%;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button{
	height:10%;
	width: 7%;
    margin-left: 1%;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 80%;
}

.clear_button{
	height:10%;
	width: 7%;
    margin-top: 1%;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 80%;
}